html {
    box-sizing: border-box;
    font-size: 14px;
}

body {
    font-family: 'Roboto';
    font-style: normal;
    line-height: normal;
    font-size: 14px;
    size: 14px;
}
a {
    text-decoration: none;
    color: #2F303A;
}



.logo,
.logo-footer{
    color: #2196F3;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}
.studio{
    color: #000;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}
.studio-footer{
    color: #FFF;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}
.block{
    background-color: #2F303A;
    width: auto;
    height: auto;
}
.block-text{
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 136.364% ;
    letter-spacing: 2.64px;
    text-transform: uppercase;
}
.block-button{
    width: 200px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.block-footer{
    background-color: #2F303A;
    width: auto;
    height: auto;
}
.footer-text{
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height:114.286%;
    letter-spacing: 0.42px;
}

.link-footer{
    color: rgba(255, 255, 255, 0.60);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 114.286% ;
    letter-spacing: 0.42px;
}
.our-team{
    background: #F5F4FA;
    width: auto;
    height: auto;
  
}

.navigation-button,
.contact,
.about-company-list,
.images-list,
.our-team-list{
    list-style-type: none;
}
.team-header,
.development-header{
    text-align: center;
}

.worker-name{
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
}
.worker-job{
    color: #757575;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
}
.our-job{
    color: #212121;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}
.studio-button,
.mail-header{
    color: #2196F3;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}
.portfolio-button,
.contact-button{
    color: #212121;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}
.number{
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}
